.dashboard-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; 
  max-width: 500px; 
}
  
  .dashboard-item.expense {
    background-color: #ffe3e3;
  }
  
  .dashboard-item.income {
    background-color: #e3ffe3;
  }
  
  .dashboard-item-description {
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-item-category {
    font-weight: bold;
  }
  
  .dashboard-item-name {
    font-size: 0.9rem;
  }
  
  .dashboard-item-amount,
  .dashboard-item-due-date,
  .dashboard-item-date {
    font-size: 0.9rem;
  }
  