.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2a9d8f; /* Primary money green color */
}

.header-container {
  text-align: center;
}

.home-header {
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  animation: fadeInOut 0.5s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home-subheader {
  font-size: 1.5rem;
  color: #fff;
}

.dollar-signs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.dollar-signs-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.dollar-signs {
  font-size: 2.5rem;
  color: #85bb65; /* Secondary money green color */
  margin: 0 0.5rem;
  animation: bounce 0.8s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
